@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 42 38% 95%; /* Isabelline */
    --foreground: 0 0% 18%; /* Jet */
    
    --card: 42 38% 95%; /* Isabelline */
    --card-foreground: 0 0% 18%; /* Jet */
    
    --popover: 42 38% 95%; /* Isabelline */
    --popover-foreground: 0 0% 18%; /* Jet */
    
    --primary: 180 37% 36%; /* Myrtle Green */
    --primary-foreground: 42 38% 95%; /* Isabelline */
    
    --secondary: 39 88% 58%; /* Xanthous */
    --secondary-foreground: 0 0% 18%; /* Jet */
    
    --muted: 180 37% 36%; /* Myrtle Green */
    --muted-foreground: 42 38% 95%; /* Isabelline */
    
    --accent: 5 63% 60%; /* Indian Red */
    --accent-foreground: 42 38% 95%; /* Isabelline */
    
    --destructive: 5 63% 60%; /* Indian Red */
    --destructive-foreground: 42 38% 95%; /* Isabelline */
    
    --border: 180 37% 36%; /* Myrtle Green */
    --input: 180 37% 36%; /* Myrtle Green */
    --ring: 180 37% 36%; /* Myrtle Green */
    
    --radius: 0.5rem;
  }
  
  .dark {
    --background: 0 0% 18%; /* Jet */
    --foreground: 42 38% 95%; /* Isabelline */
    
    --card: 0 0% 18%; /* Jet */
    --card-foreground: 42 38% 95%; /* Isabelline */
    
    --popover: 0 0% 18%; /* Jet */
    --popover-foreground: 42 38% 95%; /* Isabelline */
    
    --primary: 180 37% 36%; /* Myrtle Green */
    --primary-foreground: 42 38% 95%; /* Isabelline */
    
    --secondary: 39 88% 58%; /* Xanthous */
    --secondary-foreground: 0 0% 18%; /* Jet */
    
    --muted: 180 37% 36%; /* Myrtle Green */
    --muted-foreground: 42 38% 95%; /* Isabelline */
    
    --accent: 5 63% 60%; /* Indian Red */
    --accent-foreground: 42 38% 95%; /* Isabelline */
    
    --destructive: 5 63% 60%; /* Indian Red */
    --destructive-foreground: 42 38% 95%; /* Isabelline */
    
    --border: 180 37% 36%; /* Myrtle Green */
    --input: 180 37% 36%; /* Myrtle Green */
    --ring: 180 37% 36%; /* Myrtle Green */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
